<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><spring:message code="label.title"/></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:utext="${task.id == null} ? #{label.add_new_task} : #{label.edit_task}"></h1>
    <form th:action="@{/tasks/save}" th:object="${task}" method="post">
        <input type="hidden" th:field="*{id}" id="id">
        <div class="form-group">
            <label for="description" th:utext="#{label.description}"></label>
            <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Enter description">
        </div>
        <label th:utext="#{label.status}"></label>
        <div class="form-group">
            <select name="status">
                <option th:each="status : ${T(com.lushnikova.model.enums.Status).values()}"
                        th:value="${status}" th:text="${status}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" th:utext="#{label.save}"></button>
    </form>
</div>
</body>
</html>
